In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Object Creation

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.016952  0.612745  1.585443  0.351468
2013-01-02 -1.018527 -1.992712 -1.335528  0.074817
2013-01-03  0.984426  0.268584  1.292718  0.157391
2013-01-04 -1.527446 -2.286094  0.256056  0.096174
2013-01-05  0.844829 -0.435928  0.623445  0.568483
2013-01-06 -0.190054 -0.571263  0.060334  0.195685